@import "../../global.scss";

.header {
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .all-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
